
body {
    background-image: url("blauw.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.first {
    background-color:white;
}

.titel {
    text-align: center;
    font-family: Georgia;
}

.menu {
    text-align: left;
    font-family: Arial;
}

.tekst {
    text-align: left;
    font-family: arial;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.menu {
    style="color:white
}