
body {
    background-image: url(/afbeeldingen/blauw.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 10px
}

.titel {
    text-align: center;
    font-family: Georgia;
    background-color: white;
    padding: 10px;
}

.tekst {
    font-family: monospace;
    font-size: 20px;
    color:white;
    text-align: right;
}

.footer {
    text-align: center;
    font-size: 20px;
    width: 200px;
    background-color: white;
    color:#000;
    padding: 10px
}

.menu {
    text-align: center;
    font-size: 20px;
    width: 200px;
    background-color: white;
    color:#000;
    padding: 10px
}

.active {
    background-color: #7c9ddb;
    color: white;
}

.rechts {
    float: right;
    width: 75%
}

.links {
    float: left;
    width: 25%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(55, 90, 207);
    color:rgb(255, 255, 255)
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

.dropknop {
    background-color: white;
    color: rgb(0, 0, 0);
    width: 200px;
    border: none;
}

.dropknop a:hover {
    background-color : rgb(55, 90, 207);
    color : rgb(255, 255, 255)
    width: 200px;
    border: none;
}

  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropinhoud {display: block;}
  
  .dropinhoud {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  .dropinhoud a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  .dropinhoud a:hover {
    background-color : rgb(55, 90, 207);
    color : rgb(255, 255, 255)
}

  .dropdown:hover {
    background-color : rgb(55, 90, 207);
}